<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dblearn.cloud.user.dao.UserMapper">
  <resultMap id="BaseResultMap" type="cn.dblearn.cloud.user.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="tinyInfoSQL">
    id,username,nickname,avatar
  </sql>

  <select id="getByUsername" resultMap="BaseResultMap">
    select * from user where username=#{username}
  </select>

  <select id="getTinyInfoUserById" resultMap="BaseResultMap">
    select <include refid="tinyInfoSQL"/> FROM user where id=#{userId}
  </select>
</mapper>